.list-div {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.pagination-div {
  width: 30%;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pagination-div button {
    min-width: 100px;
    cursor: pointer;
}