nav {
  width: 100%;
  height: 10vh;
  background-color: #8E8D71;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 1rem;
}